<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>アカウント作成 - FurnitureFinder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'login.js' %}"></script>
</head>

<body>
    <header class="visible">
        <div class="container">
            <ul class="nav">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="{% url 'search' %}">SEARCH</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li class="active"><a href="{% url 'register' %}">REGISTER</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="login">
        <h2 class="active">Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="signin" type="submit">Sign Up</button>
        </form>
    </div>
</body>

</html>