/* ヘッダーのスタイル */
header {
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    left: 0;
    transition: 500ms;
    transform: translate(0px, -100px);
    z-index: 1000;
}

.visible {
    transform: translate(0px, 0px);
}

.nav {
    float: right;
    text-align: center;
}

.nav li {
    float: left;
    position: relative;
}

.nav li a {
    float: left;
    line-height: 100px;
    color: #101010;
    position: relative;
    font-size: 16px;
    height: 100px;
    font-weight: 400;
    overflow: hidden;
    transition: 500ms;
    padding: 0 25px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

.nav li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: 500ms;
}

.nav li:hover:after,
.nav li.active:after {
    height: 100%;
    top: 0;
    background: rgba(150, 39, 39, 1);
}

.nav li:hover a,
.nav li.active a {
    color: #fff;
}

.logo {
    line-height: 100px;
    font-weight: 700;
    color: #101010;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 0px;
    height: 100px;
    float: left;
}

.logo img {
    position: relative;
    top: 10px;
    height: 80px;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ボディのスタイル */
body {
    min-height: 500px;
    background: linear-gradient(hsla(0, 67%, 37%, 1), hsla(180, 67%, 37%, 1));
    padding-top: 120px;
}

.content {
    padding: 20px;
}

*,
*:after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,800,400&subset=latin,latin-ext);

.content img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.furniture-item {
    overflow: hidden;
    margin-bottom: 20px;
}

.furniture-item img {
    float: left;
    margin-right: 20px;
    max-width: 400px;
    width: 400px;
    height: auto;
}

.furniture-details {
    overflow: hidden;
}

/* home_imgクラスのスタイル */
.home_img {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home_img img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    object-fit: cover;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: #fff;
    color: #000000;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }

    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}

body,
.signin {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.login {
    position: relative;
    height: 560px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background: url(https://picsum.photos/id/1004/5616/3744) no-repeat center center #505050;
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
}

form {
    padding-top: 80px;
}

.active {
    border-bottom: 2px solid #1161ed;
}

.nonactive {
    color: rgba(255, 255, 255, 0.2);
}

h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

h2:first-child {
    padding-left: 0px;
}

span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}

.text {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus+span {
    opacity: 0.6;
}

input[type="text"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

h2,
span,
.custom-checkbox {
    margin-left: 20px;
}

.custom-checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 6px;
}

.custom-checkbox:checked {
    background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
}

.custom-checkbox:focus {
    outline: none;
}

label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 85px;
    position: relative;
}